@font-face {
	font-family: "Gravity";
	src: url("/assets/fonts/gravity.ttf") format("truetype");
}
@font-face {
	font-family: "OPS";
	src: url("/assets/fonts/ops.ttf") format("truetype");
	font-style: normal;
}
@font-face {
	font-family: "OPS";
	src: url("/assets/fonts/ops-italic.ttf") format("truetype");
	font-style: italic;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 1.1em;
	font-weight: normal;
}
:root {
	--green: #3da326;
}
body {
	font-family: "OPS", monospace;
}
ol {
	padding-left: 1.8em;
}
.container {
	width: 100vw;
	height: 100dvh;
	position: relative;
}

/* Navbar */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 9;
	padding: 15px;
	gap: 40px;
	align-items: start;
}
.nav-links {
	display: flex;
	column-gap: 60px;
	flex-wrap: wrap;
}
.nav-link {
	color: black;
	text-decoration: none;
	border: unset;
	background-color: unset;
	font-family: inherit;
	font-size: inherit;
	display: block;
	cursor: pointer;
}
.nav-link:hover {
	text-decoration: underline;
}

/* Homepage */
.content {
	cursor: crosshair;
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
	touch-action: manipulation;
}
.title {
	font-size: 14vw;
	color: var(--green);
	font-family: "Gravity", sans-serif;
	position: fixed;
	bottom: .8em;
	left: 50%;
	text-align: center;
	transform: translateX(-50%) scaleY(3);
	line-height: 1em;
	height: .8em;
	overflow: hidden;
}
.title span {
	font-size: inherit;
	transition: font-variation-settings .5s ease;
}
.photos {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100dvh;
}
.photo {
	position: absolute;
	z-index: 1;
	text-decoration: none;
	color: black;
}
.photo:hover {
	z-index: 2;
}
.photo-image {
	display: block;
	position: relative;
}
.photo-image[data-size="0"] {
	width: 7vmax;
	height: 7vmax;
}
.photo-image[data-size="1"] {
	width: 14vmax;
	height: 7vmax;
}
.photo-image[data-size="2"] {
	width: 7vmax;
	height: 14vmax;
}
.photo-image-file {
	width: 100%;
	height: 100%;
	background-size: 14.2vmax;
}
.photo-image-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--green);
	mix-blend-mode: screen;
	z-index: 1;
}
.photo:hover .photo-image-overlay {
	display: block;
}
.photo-info {
	display: none;
}
.photo:hover .photo-info {
	display: block;
}

/* About page */
.about {
	display: grid;
	grid-template-columns: 2fr minmax(320px, 1fr);
	text-wrap: pretty;
}
.about-sticky {
	height: 100dvh;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 15px;
	gap: 1.1em;
}
.about-sticky p {
	max-width: 800px;
	position: relative;
}
.about-quote::before {
	content: "“";
	position: absolute;
	top: 0;
	left: -.6em;
}
.about-scroll {
	display: flex;
	flex-direction: column;
	gap: 2.2em;
	padding: 2.2em;
	padding-bottom: 300px;
}
.about-designer {
	display: flex;
	flex-direction: column;
	gap: 1.1em;
	max-width: 800px;
	position: relative;
}
.about-designer h2 {
	display: flex;
	gap: 1.1em;
	cursor: crosshair;
}
.about-designer-number {
	color: var(--green);
}
.about-designer-name {
	text-decoration: underline;
}
.about-designer-thumbnail {
	display: none;
	pointer-events: none;
	position: absolute;
	width: min(600px, calc(100vw - 3.3em));
	z-index: 2;
}
.about-designer a {
	color: black;
	text-decoration: none;
}
.about-designer a:hover {
	text-decoration: underline;
}
.about-designer a:active {
	opacity: .5;
}
.about-info {
	display: flex;
	flex-direction: column;
	gap: 1.1em;
	max-width: 800px;
	color: var(--green);
	margin-top: 1.1em;
}
@media only screen and (min-width: 800px) {
	.about-designer-thumbnail {
		top: .55em;
		left: 1.1em;
		transform: translateX(-100%);
	}
	.container[data-thumbnail="above"] .about-designer-thumbnail {
		transform: translate(-100%, -100%);
	}
	.about-designer h2:hover ~ .about-designer-thumbnail {
		display: block;
	}
}
@media only screen and (max-width: 800px) {
	.about {
		grid-template-columns: 1fr;
		padding-top: 2.2em;
	}
	.nav{
		background-color: white;
	}

	.about-sticky {
		height: unset;
		position: static;
		padding-top: 470px;
		padding-bottom: 60px;
	}
	.about-scroll{
		padding: 15px;
	}
	.about-designer-thumbnail {
		transform: unset;
		left: -.55em;
	}
	.container[data-thumbnail="above"] .about-designer-thumbnail {
		transform: translateY(-100%);
	}
	.title{
		transform: translateX(-50%) translateY(-50%) scaleY(4);

	}
}